{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}


<div class="container-fluid">
    <div class="row mt-4 mb-3">
        <div class="col-md-3 pl-5">
            <h4 class="mb-3">Configure defaults</h4>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button id="workstream-types" class="btn btn-secondary dropdown-toggle text-left btn-block"
                                type="button"
                                name="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-gear mr-2"></span>Workstream types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a id="add-workstream-type" class="dropdown-item" href="#">Add new</a>
                            <a id="manage-workstream-types" class="dropdown-item" href="#">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button id="deliverable-types" class="btn btn-secondary dropdown-toggle text-left btn-block"
                                type="button"
                                name="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-gear mr-2"></span>Deliverable types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a id="add-deliverable-type" class="dropdown-item" href="#">Add new</a>
                            <a id="manage-deliverable-types" class="dropdown-item" href="#">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button id="task-types" class="btn btn-secondary dropdown-toggle text-left btn-block"
                                type="button"
                                name="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-gear mr-2"></span>Task types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a id="add-task-type" class="dropdown-item" href="#">Add new</a>
                            <a id="manage-task-types" class="dropdown-item" href="#">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="configure-project-selector">
                <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                    <label class="btn btn-secondary active w-100">
                        <input type="radio" name="options" id="option1" autocomplete="off" value="workstreams">
                        Workstreams
                    </label>
                    <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="deliverables">
                        Deliverables
                    </label>
                    <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option3" autocomplete="off" value="tasks">
                        Tasks
                    </label>
                </div>
            </div>
            <div id="configure-project-table" class="mt-3">
                <div id="workstreams-table" class="row">
                    <div class="col-md-12">
                        <div class="row mb-3 pl-3">
                            <h4 class="my-auto">Reference workstreams</h4>
                            <button id="add-workstream" class="btn btn-secondary ml-3 " type="button"
                                    name="button">
                                <span class="fa fa-plus mr-2"></span>Add new reference workstream
                            </button>
                        </div>

                        {% if workstreams %}
                        {% include "workstreams/_workstreams_table.html" %}
                        {% else %}
                        <p class="no-projects text-primary">No reference workstreams added yet.</p>
                        {% endif %}

                    </div>
                </div>

                <div id="deliverables-table" class="row" style="display: none;">
                    <div class="col-md-12">
                        <div class="row mb-3 pl-3">
                            <h4 class="my-auto">Reference deliverables</h4>
                            <button id="add-deliverable" class="btn btn-secondary ml-3" type="button"
                                    name="button">
                                <span class="fa fa-plus mr-2"></span>Add new reference deliverables
                            </button>
                        </div>

                        {% if deliverables %}
                        {% include "deliverables/_deliverables_table.html" %}
                        {% else %}
                        <p class="no-projects text-primary">No reference deliverables added yet.</p>
                        {% endif %}

                    </div>
                </div>

                <div id="tasks-table" class="row" style="display: none;">
                    <div class="col-md-12">
                        <div class="row mb-3 pl-3">
                            <h4 class="my-auto">Reference tasks</h4>
                            <button id="add-task" class="btn btn-secondary ml-3" type="button" name="button">
                                <span class="fa fa-plus mr-2"></span>Add new reference tasks
                            </button>
                        </div>
                        {% if tasks %}
                        {% include "tasks/_tasks_table.html" %}
                        {% else %}
                        <p class="no-projects text-primary">No reference tasks added yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$(function() {

    // Create workstream button opens modal with id="create-modal"
    $("#add-workstream").modalForm({
        formURL: "{% url 'add_workstream' project.id %}",
        modalID: "#create-modal"
    });

    // Create deliverable button opens modal with id="create-modal"
    $("#add-deliverable").modalForm({
        formURL: "{% url 'add_deliverable' project.id %}",
        modalID: "#create-modal"
    });

    // Create task button opens modal with id="create-modal"
    $("#add-task").modalForm({
        formURL: "{% url 'add_task' project.id %}",
        modalID: "#create-modal"
    });

    // Create task button opens modal with id="create-modal"
    $("#add-workstream-type").modalForm({
        formURL: "{% url 'add_workstream_type' %}",
        modalID: "#create-modal"
    });

    // Create task button opens modal with id="create-modal"
    $("#add-deliverable-type").modalForm({
        formURL: "{% url 'add_deliverable_type' %}",
        modalID: "#create-modal"
    });

    // Create task button opens modal with id="create-modal"
    $("#add-task-type").modalForm({
        formURL: "{% url 'add_task_type' %}",
        modalID: "#create-modal"
    });

    $('input[type=radio][name="options"]').change(function() {

        if ($(this).val() == "workstreams") {
            $('#workstreams-table').show()
            $('#deliverables-table').hide()
            $('#tasks-table').hide()
        } else if ($(this).val() == "deliverables") {
            $('#workstreams-table').hide()
            $('#deliverables-table').show()
            $('#tasks-table').hide()
        } else if ($(this).val() == "tasks") {
            $('#workstreams-table').hide()
            $('#deliverables-table').hide()
            $('#tasks-table').show()
        }

    });


    $("#addorg").modalForm({
        formURL: "{% url 'add_organization_modal' redirect_location %}",
        modalID: "#add-org-modal"
    });

    var token = '{{csrf_token}}';

    $('#add-org-modal').on('hidden.bs.modal', function() {
        console.log("modal hidden");

        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            type: "POST",
            url: '{% url "update_declined_organization" %}',
            success: function(data) {
                console.log("success");
            }
        })

    })

    var js_has_org = {{ has_org|safe }}

    window.onload = function() {
        if (!js_has_org) {
            var a = document.getElementById('addorg');
            a.click();
        };
    };
});

</script>
{% endblock extrascripts %}
