{% extends 'base.html' %}
{% load organization_tags %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <h4 class="mb-3">Organization dashboard</h4>
            <div>
                {% if organization %}
                <h6><strong>Organization name:</strong></br>{{organization.name}}
                    {% if organization.nickname %}({{organization.nickname}}{% endif %})</h6>
                {% endif %}
            </div>
            <div>
                {% if organization.domain %}
                <h6><strong>Email domain:</strong></br>{{organization.domain}}</h6>
                {% endif %}
            </div>
            <div>
                {% if organization.division_set.all %}
                <h6><strong>Divisions:</strong></br>
                    {% for division in organization.division_set.all %}
                    {{division}},
                    {% endfor %}
                    <a id="add-division" href="#"><span class="fa fa-plus ml-2 mr-2"></span><strong>Add
                        division</strong></a>
                </h6>
                {% endif %}
            </div>
        </div>
        <div class="list-group list-group-flush">
            <a id="configure" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="org-projects">
                <span class="fa fa-handshake mr-2"></span>View all projects
            </a>
            <a id="output-sow" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="org-knowledge-mgt">
                <span class="fa fa-lightbulb mr-2"></span>Knowledge management
            </a>
            <a id="content" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="org-settings">
                <span class="fa fa-building mr-2"></span>Organization settings
            </a>
            <a id="manage-team" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="org-ref-workstreams">
                <span class="fa fa-project-diagram mr-2"></span>Define reference workstreams
            </a>
            <a id="view-timeline" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="org-project-comp-types">
                <span class="fa fa-cube mr-2"></span>Define project component types
            </a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row mt-4 mb-3">
                <div class="col-md-12">
                    <div id="org-projects" class="targetDiv">
                        <h4 class="mb-3">Organization projects</h4>
                        {% if non_ref_projects %}
                        {% show_nonref_projects %}
                        {% else %}
                        <p class="no-projects text-primary">No projects added yet.</p>
                        {% endif %}
                    </div>
                    <div id="org-knowledge-mgt" class="targetDiv" style="display: none;">
                        <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                            <label class="btn btn-secondary active w-100 showSubDiv" target="uploaded-content">
                                <input type="radio">
                                Uploaded content
                            </label>
                            <label class="btn btn-secondary w-100 showSubDiv" target="content-metadata">
                                <input type="radio">
                                Content type and metadata
                            </label>
                        </div>
                        <div id="uploaded-content" class="targetSubDiv firstSubDiv">
                            <div class="row mb-3 mt-3 pl-3">
                                <h4 class="my-auto">Uploaded content</h4>
                                <button id="upload-content-button" class="btn btn-secondary ml-3 " type="button"
                                        name="button">
                                    <span class="fa fa-plus mr-2"></span>Contribute content
                                </button>
                            </div>
                            {% if content %}
                            {% include "organizations/tables/content_table.html" %}
                            {% else %}
                            <p class="no-projects text-primary">No content added yet.</p>
                            {% endif %}
                        </div>
                        <div id="content-metadata" class="targetSubDiv" style="display: none;">
                            <div class="row mb-3 mt-3 pl-3">
                                <h4 class="my-auto">Content types and metadata</h4>
                                <button id="add-content-type" class="btn btn-secondary ml-3 " type="button"
                                        name="button">
                                    <span class="fa fa-plus mr-2"></span>Add content type
                                </button>
                            </div>
                            {% include "organizations/tables/content_types_table.html" %}
                        </div>
                    </div>
                    <div id="org-settings" class="targetDiv" style="display: none;">
                        <div class="row mb-3 pl-3">
                            <h4 class="my-auto">Organization settings</h4>
                        </div>
                        {% include "organizations/organization_settings_form.html" %}
                    </div>
                    <div id="org-ref-workstreams" class="targetDiv" style="display: none;">
                        <div id="configure-project-selector" class="mb-3">
                            <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                                <label class="btn btn-secondary active w-100 showSubDiv" target="workstreams">
                                    <input type="radio"> Workstreams
                                </label>
                                <label class="btn btn-secondary w-100 showSubDiv" target="deliverables">
                                    <input type="radio"> Deliverables
                                </label>
                                <label class="btn btn-secondary w-100 showSubDiv" target="tasks">
                                    <input type="radio"> Tasks
                                </label>
                            </div>
                        </div>
                        <div id="configure-project-table" class="mt-3">
                            <div id="workstreams" class="row targetSubDiv firstSubDiv">
                                <div class="col-md-12">
                                    <div class="row mb-3 pl-3">
                                        <h4 class="my-auto">Project workstreams</h4>
                                        <button id="add-workstream" class="btn btn-secondary ml-3 asyncModal" type="button"
                                                name="button" data-form-url="{{workstream_form_url}}"
                                                data-data-url="{{workstream_data_url}}"
                                                data-modal-id="{{modal_id}}"
                                                data-data-element-id="{{workstream_data_element_id}}">
                                            <span class="fa fa-plus mr-2"></span>Add new workstream
                                        </button>
                                    </div>
                                    <div id="workstreams-table">
                                        {% if workstreams %}
                                        {% include "projects/tables/workstreams_table.html" %}
                                        {% else %}
                                        <p class="no-projects text-primary">No workstreams added yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="deliverables" class="row targetSubDiv" style="display: none;">
                                <div class="col-md-12">
                                    <div class="row mb-3 pl-3">
                                        <h4 class="my-auto">Project deliverables</h4>
                                        <button id="add-deliverable" class="btn btn-secondary ml-3 asyncModal" type="button"
                                                name="button" data-form-url="{{deliverable_form_url}}"
                                                data-data-url="{{deliverable_data_url}}"
                                                data-modal-id="{{modal_id}}"
                                                data-data-element-id="{{deliverable_data_element_id}}">
                                            <span class="fa fa-plus mr-2"></span>Add new deliverables
                                        </button>
                                    </div>
                                    <div id="deliverables-table">
                                        {% if deliverables %}
                                        {% include "projects/tables/deliverables_table.html" %}
                                        {% else %}
                                        <p class="no-projects text-primary">No deliverables added yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="tasks" class="row targetSubDiv" style="display: none;">
                                <div class="col-md-12">
                                    <div class="row mb-3 pl-3">
                                        <h4 class="my-auto">Project tasks</h4>
                                        <button id="add-task" class="btn btn-secondary ml-3 asyncModal" type="button"
                                                name="button"
                                                data-form-url="{{task_form_url}}" data-data-url="{{task_data_url}}"
                                                data-modal-id="{{modal_id}}"
                                                data-data-element-id="{{task_data_element_id}}">
                                            <span class="fa fa-plus mr-2"></span>Add new tasks
                                        </button>
                                    </div>
                                    <div id="tasks-table">
                                        {% if tasks %}
                                        {% include "projects/tables/tasks_table.html" %}
                                        {% else %}
                                        <p class="no-projects text-primary">No tasks added yet.</p>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="org-project-comp-types" class="targetDiv" style="display: none;">
                        <div id="configure-type-selector" class="mb-3">
                            <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                                <label class="btn btn-secondary active w-100 showSubDiv" target="workstream-types">
                                    <input type="radio">Workstream types
                                </label>
                                <label class="btn btn-secondary w-100 showSubDiv" target="deliverable-types">
                                    <input type="radio">Deliverable types
                                </label>
                                <label class="btn btn-secondary w-100 showSubDiv" target="task-types">
                                    <input type="radio">Task types
                                </label>
                            </div>
                        </div>
                        <div id="workstream-types" class="targetSubDiv firstSubDiv">
                            <div class="row mb-3 pl-3">
                                <h4 class="my-auto">Workstream types</h4>
                            </div>
                            {% include "organizations/tables/workstream_types_table.html" %}
                        </div>
                        <div id="deliverable-types" class="targetSubDiv" style="display: none;">
                            <div class="row mb-3 pl-3">
                                <h4 class="my-auto">Deliverable types</h4>
                            </div>

                            {% include "organizations/tables/deliverable_types_table.html" %}
                        </div>
                        <div id="task-types" class="targetSubDiv" style="display: none;">
                            <div class="row mb-3 pl-3">
                                <h4 class="my-auto">Task types</h4>
                            </div>
                            {% include "organizations/tables/task_types_table.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <!-- Dummy link to trigger organization form if conditions are met -->
    <a id="addorg" class="asyncModal" href="#" data-form-url="{{form_url}}" data-data-url="{{data_url}}"
           data-modal-id="{{modal_id}}" data-data-element-id="{{data_element_id}}"></a>
</div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$(function() {
    var token = '{{csrf_token}}';
    var js_has_org = {{ has_org | safe }}

    $(document).ready(function() {
        if (!js_has_org) {
            var a = document.getElementById('addorg');
            a.click();
        };
    });

    $('#add-org-modal').on('hidden.bs.modal', function() {
        $.ajax({
            headers: {"X-CSRFToken": token},
            type: "POST",
            url: '{% url "organizations:update_declined_organization" %}',
            success: function(data) {}
        })
    })


    $('body').on('click', '[data-editable]', {token: token}, editType);
    $('body').on('click', '[add-new-below]', {token: token}, addNewTypeBelow);
    $('body').on('click', '[add-new-above-row]', {token: token}, addNewTypeAboveRow);
    $('body').on('click', '[add-new-above]', {token: token}, addNewTypeAbove);
    $('body').on('click', '[delete-item]', {token: token}, deleteType);
    $('body').on('click', '[delete-item-row]', {token: token}, deleteTypeRow);
});
</script>
{% endblock extrascripts %}
