<tr>
    <td class="text-center">{{ task.deliverable.workstream }}</td>
    <td class="text-center">{{ task.deliverable }}</td>
    <td class="text-center">{{ task.name }}</td>
    <td class="text-center">{{ task.team_member }}</td>
    <td class="text-center">{{ task.status }}</td>
    <td class="text-center">

        <!-- Edit button -->
        <button type="button" class="bs-modal btn btn-sm btn-primary asyncModal" data-form-url="{{edit_form_url}}"
                data-data-url="{{data_url}}" data-modal-id="{{modal_id}}" data-data-element-id="{{data_element_id}}">
            <input type="hidden" value="{{ task.pk }}" name="task_id">
            <span class="fa fa-cogs"></span>
        </button>

        <!-- Delete button -->
        <button type="button" class="bs-modal delete-task btn btn-sm btn-secondary asyncModal"
                data-form-url="{{delete_form_url}}" data-data-url="{{data_url}}" data-modal-id="{{modal_id}}"
                data-data-element-id="{{data_element_id}}">
            <span class="fa fa-trash"></span>
        </button>
    </td>
</tr>