<table id="team-members-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Project availability<span class="fa fa-question-circle text-secondary ml-2" data-toggle="tooltip" data-placement="right"
                  title="Tooltip on right"></span></th>
        <th class="text-center" scope="col">Current tasks<span class="fa fa-question-circle text-secondary ml-2" data-toggle="tooltip" data-placement="right"
                  title="Tooltip on right"></span></th>
        <th class="text-center" scope="col">Configure / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for team_member in team_members %}
    <tr>
        <th class="text-center">{{ team_member }}</th>
        <td class="text-center">{{ team_member.project_availability }}</td>
        <td class="text-center">
            {% for task in team_member.task_set.all %}
                <div class="row">
                    {{ task }}
                </div>
            {% endfor %}
        </td>

        <td class="text-center">

            <!-- Edit button -->
            <button type="button" class="bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'configure_team_member' project.id team_member.id %}">
                <input type="hidden" value="{{ team_member.id }}" name="team_member_id">
                <span class="fa fa-gears"></span>
            </button>

            <!-- Delete button -->
            <button type="button"
                    class="bs-modal delete-team-member btn btn-sm btn-secondary"
                    data-form-url="{% url 'delete_team_member' project.id team_member.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>