<table id="deliverables-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Workstream</th>
        <th class="text-center" scope="col">Deliverable</th>
        <th class="text-center" scope="col">Configure / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for deliverable in deliverables %}
    <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ deliverable.workstream }}</td>
        <td class="text-center">{{ deliverable.name }}</td>
        <td class="text-center">

            <!-- Edit button -->
            <button type="button" class="bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'configure_deliverable' project.id deliverable.id %}">
                <input type="hidden" value="{{ deliverable.pk }}" name="deliverable_id">
                <span class="fa fa-gears"></span>
            </button>

            <!-- Delete button -->
            <button type="button" class="bs-modal delete-deliverable btn btn-sm btn-secondary"
                    data-form-url="{% url 'delete_deliverable' project.id deliverable.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>