<table id="content-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Project</th>
        <th class="text-center" scope="col">Workstream</th>
        <th class="text-center" scope="col">Deliverable</th>
        <th class="text-center" scope="col">Uploaded by</th>
        <th class="text-center" scope="col">Date</th>
        <th class="text-center" scope="col">Download / Set links</th>
    </tr>
    </thead>
    <tbody>
    {% for item in content_items %}
    <tr>
        <th class="text-center">{{ item.name }}</th>
        <td class="text-center">{{ item.project }}</td>
        <td class="text-center">{{ item.workstream }}</td>
        <td class="text-center">{{ item.deliverable }}</td>
        <td class="text-center">{{ item.uploaded_by }}</td>
        <td class="text-center">{{ item.date }}</td>
        <td class="text-center">

            <!-- Download button -->
            <button type="button" class="bs-modal btn btn-sm btn-primary download-content">
                <input type="hidden" value="{{ item.pk }}" name="content_id">
                <span class="fa fa-download"></span>
            </button>

            <!-- Edit button -->
            <button type="button" class="bs-modal btn btn-sm btn-primary ">
                <input type="hidden" value="{{ item.pk }}" name="content_id">
                <span class="fa fa-gears"></span>
            </button>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>