<table id="deliverable-types-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">Deliverable type
            <span class="fa fa-question-circle text-secondary ml-2" data-toggle="tooltip" data-placement="right"
                  title="Tooltip on right"></span>
        </th>
        <th class="text-center" scope="col">Specification fields
            <span class="fa fa-question-circle text-secondary ml-2" data-toggle="tooltip" data-placement="right"
                  title="Things that should be specified related to this type of deliverable. Example: Specifications
                  for a dashboard might include the technology and types of views required."></span>
        </th>
        <th class="text-center" scope="col">Condition fields
            <span class="fa fa-question-circle text-secondary ml-2" data-toggle="tooltip" data-placement="right"
                  title="Types of conditions that should be specified for this type of deliverable. Example:
                  Conditions for a dashboard might include the client designating someone as the dashboard
                  maintainer."></span>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for dt in deliverable_types %}
    <tr>
        <th class="text-center" style="vertical-align:middle">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a modelid="{{dt.id}}" href="#" data-editable
                        data-url="{% url 'organizations:edit_deliverable_type' %}">
                            {{ dt }}
                        </a>
                        <a modelid="{{dt.id}}" href="#" delete-item-row
                           data-url="{% url 'organizations:delete_deliverable_type' %}">
                            <span modelid="{{dt.id}}" class="fa fa-minus-circle ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </th>
        <td class="text-center" style="vertical-align:middle">
            {% for st in dt.specificationtype_set.all %}
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a modelid="{{st.id}}" href="#" data-editable
                           data-url="{% url 'organizations:edit_specification_type' %}">
                            {{ st }}
                        </a>
                        <a modelid="{{st.id}}" href="#" delete-item
                           data-url="{% url 'organizations:delete_specification_type' %}">
                            <span class="fa fa-minus-circle ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a href="#" add-new-above
                           data-url="{% url 'organizations:add_specification_type' %}"
                           delete-data-url="{% url 'organizations:delete_specification_type' %}">
                            <span class="fa fa-plus mr-2"></span><strong>Add new</strong>
                        </a>
                    </div>
                </div>
            </div>
        </td>
        <td class="text-center" style="vertical-align:middle">
            {% for ct in dt.conditiontype_set.all %}
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a modelid="{{ct.id}}" href="#" data-editable
                           data-url="{% url 'organizations:edit_condition_type' %}"> {{ ct }} </a>
                        <a modelid="{{ct.id}}" href="#" delete-item
                           data-url="{% url 'organizations:delete_condition_type' %}">
                            <span class="fa fa-minus-circle ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a href="#" add-new-above
                           data-url="{% url 'organizations:add_condition_type' %}"
                           delete-data-url="{% url 'organizations:delete_condition_type' %}">
                            <span class="fa fa-plus mr-2"></span><strong>Add new</strong>
                        </a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th class="text-center my-auto" scope="row" style="vertical-align:middle">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a href="#" add-new-above-row
                           data-url="{% url 'organizations:add_deliverable_type' %}"
                           delete-data-url="{% url 'organizations:delete_deliverable_type' %}">
                            <span class="fa fa-plus mr-2"></span><strong>Add new</strong>
                        </a>
                    </div>
                </div>
            </div>
        </th>
        <td class="text-center" style="vertical-align:middle">
        </td>
        <td class="text-center" style="vertical-align:middle">
        </td>
    </tr>
    </tbody>
</table>