<table id="workstream-types-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">Workstream type
            <span class="fa fa-question-circle text-secondary ml-2" data-toggle="tooltip" data-placement="right"
                  title="Tooltip on right"></span>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for wt in workstream_types.all %}
    <tr>
        <th class="text-center" style="vertical-align:middle">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a modelid="{{wt.id}}" href="#" data-editable
                        data-url="{% url 'organizations:edit_workstream_type' %}">
                            {{ wt }}
                        </a>
                        <a modelid="{{wt.id}}" href="#" delete-item-row
                           data-url="{% url 'organizations:delete_workstream_type' %}">
                            <span modelid="{{wt.id}}" class="fa fa-minus-circle ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </th>
    </tr>
    {% endfor %}
    <tr>
        <td class="text-center" style="vertical-align:middle">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-left">
                        <a href="#" add-new-above-row
                           data-url="{% url 'organizations:add_workstream_type' %}"
                           delete-data-url="{% url 'organizations:delete_workstream_type' %}">
                            <span class="fa fa-plus mr-2"></span><strong>Add new</strong>
                        </a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>