<table id="tasks-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Workstream</th>
        <th class="text-center" scope="col">Deliverable</th>
        <th class="text-center" scope="col">Task</th>
        <th class="text-center" scope="col">Team member</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Configure / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ task.deliverable.workstream }}</td>
        <td class="text-center">{{ task.deliverable }}</td>
        <td class="text-center">{{ task.name }}</td>
        <td class="text-center">{{ task.team_member }}</td>
        <td class="text-center">{{ task.status }}</td>
        <td class="text-center">

            <!-- Edit button -->
            <button type="button" class="bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'configure_task' project.id task.id %}">
                <input type="hidden" value="{{ task.pk }}" name="task_id">
                <span class="fa fa-gears"></span>
            </button>

            <!-- Delete button -->
            <button type="button"
                    class="bs-modal delete-task btn btn-sm btn-secondary"
                    data-form-url="{% url 'delete_task' project.id task.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>