{% load task_custom_tags %}

<table id="tasks-table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center" scope="col">Workstream</th>
        <th class="text-center" scope="col">Deliverable</th>
        <th class="text-center" scope="col">Task</th>
        <th class="text-center" scope="col">Team member</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Configure / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        {% render_row task %}
    {% endfor %}
    </tbody>
</table>