{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

<div class="container">
    <div class="starter-template mt-5 mb-5">
        <h1>Welcome to Processy.io</h1>
        <h5>Open-source project and knowledge management for professional services firms</h5>
        <p class="lead mt-5">Please <a id="log-in-link" href="#"> <strong>log in</strong></a> or <a id="sign-up-link" href="#"> <strong>sign up</strong></a> to continue.</p>
    </div>
    <div class="mt-5">
       <a href="https://github.com/rogue26/processy.io"><span class="fa fa-github mr-1"></span>Github</a>
    </div>
</div>


{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
      $(function () {
          // Log in & Sign up buttons
          // The formURL is given explicitly
          $("#login-btn").modalForm({
            formURL: "{% url 'login_modal' %}"
          });

          $("#log-in-link").modalForm({
            formURL: "{% url 'login_modal' %}"
          });

          $("#signup-btn").modalForm({
            formURL: "{% url 'signup_modal' %}"
          });

          $("#sign-up-link").modalForm({
            formURL: "{% url 'signup_modal' %}"
          });

          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");


          // Read and Edit buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });


</script>
{% endblock extrascripts %}
