{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

<div class="container">
    <div class="starter-template mt-5 mb-5">
        <h1>Welcome to Processy.io</h1>
        <h5>Open-source project and knowledge management</h5>
        <p class="lead mt-5">Please <a id="log-in-link" href="#"> <strong>log in</strong></a> or <a id="sign-up-link" href="#"> <strong>sign up</strong></a> to continue.</p>
    </div>
    <div class="mt-5">
       <a href="https://github.com/rogue26/processy.io"><span class="fa fa-github mr-1"></span>Github</a>
    </div>
</div>


{% endblock content %}

{% block extrascripts %}

{% endblock extrascripts %}
