{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <h4 class="mb-3">Project info</h4>
            <div>
                <h6><strong>Project name:</strong> {{project.name}}</h6>
            </div>
            <div>
                <h6><strong>Client name:</strong> {{project.client}}</h6>
            </div>
            <div>
                <h6><strong>Division:</strong> {{project.division}}</h6>
            </div>
        </div>
        <div class="list-group list-group-flush">
            <a id="configure" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="configure-project">
                <span class="fa fa-cog mr-2"></span>Configure project
            </a>
            <a id="output-sow" href="#" class="list-group-item list-group-item-action bg-light showDiv">
                <span class="fa fa-file-alt mr-2"></span>Export SOW
            </a>
            <a id="content" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="knowledge-mgt">
                <span class="fa fa-lightbulb mr-2"></span>Knowledge management
            </a>
            <a id="manage-team" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="team-members">
                <span class="fa fa-users mr-2"></span>Manage team
            </a>
            <a id="view-timeline" href="#" class="list-group-item list-group-item-action bg-light showDiv" target="project-timeline-utilization">
                <span class="fa fa-calendar mr-2"></span>Timeline & utilization
            </a>
            <a id="tools-button" class="list-group-item list-group-item-action bg-light dropdown-toggle" role="button"
               data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-tools mr-2"></span>Tools
            </a>
            <div class="collapse" id="collapseExample">
                <div class="well" id="nav-well">
                    <ul style="list-style: none">
                        <li>
                            <a id="RACI-button" href="#" class="showDiv" target="RACI-tool"><span class="fa fa-people-arrows mr-2"></span>RACI</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row mt-4 mb-3">
                <div class="col-md-12">
                    <div id="configure-project" class="targetDiv">
                        <div id="configure-project-selector">
                            <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                                <label class="btn btn-secondary active w-100 showSubDiv" target="workstreams">
                                    <input type="radio">
                                    Workstreams
                                </label>
                                <label class="btn btn-secondary w-100 showSubDiv" target="deliverables">
                                    <input type="radio">
                                    Deliverables
                                </label>
                                <label class="btn btn-secondary w-100 showSubDiv" target="tasks">
                                    <input type="radio">
                                    Tasks
                                </label>
                            </div>
                        </div>
                        <div id="configure-project-table" class="mt-3">
                            <div id="workstreams" class="row targetSubDiv firstSubDiv">
                                <div class="col-md-12">
                                    <div class="row mb-3 pl-3">
                                        <h4 class="my-auto">Project workstreams</h4>
                                        <button id="add-workstream" class="btn btn-secondary ml-3 asyncModal" type="button"
                                                name="button" data-form-url="{{workstream_form_url}}"
                                                data-data-url="{{workstream_data_url}}"
                                                data-modal-id="{{modal_id}}"
                                                data-data-element-id="{{workstream_data_element_id}}">
                                            <span class="fa fa-plus mr-2"></span>Add new workstream
                                        </button>
                                    </div>
                                    <div id="workstreams-table">
                                        {% if workstreams %}
                                        {% include "projects/tables/workstreams_table.html" %}
                                        {% else %}
                                        <p class="no-projects text-primary">No workstreams added yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="deliverables" class="row targetSubDiv" style="display: none;">
                                <div class="col-md-12">
                                    <div class="row mb-3 pl-3">
                                        <h4 class="my-auto">Project deliverables</h4>
                                        <button id="add-deliverable" class="btn btn-secondary ml-3 asyncModal" type="button"
                                                name="button" data-form-url="{{deliverable_form_url}}"
                                                data-data-url="{{deliverable_data_url}}"
                                                data-modal-id="{{modal_id}}"
                                                data-data-element-id="{{deliverable_data_element_id}}">
                                            <span class="fa fa-plus mr-2"></span>Add new deliverables
                                        </button>
                                    </div>
                                    <div id="deliverables-table">
                                        {% if deliverables %}
                                        {% include "projects/tables/deliverables_table.html" %}
                                        {% else %}
                                        <p class="no-projects text-primary">No deliverables added yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="tasks" class="row targetSubDiv" style="display: none;">
                                <div class="col-md-12">
                                    <div class="row mb-3 pl-3">
                                        <h4 class="my-auto">Project tasks</h4>
                                        <button id="add-task" class="btn btn-secondary ml-3 asyncModal" type="button"
                                                name="button"
                                                data-form-url="{{task_form_url}}" data-data-url="{{task_data_url}}"
                                                data-modal-id="{{modal_id}}"
                                                data-data-element-id="{{task_data_element_id}}">
                                            <span class="fa fa-plus mr-2"></span>Add new tasks
                                        </button>
                                    </div>
                                    <div id="tasks-table">
                                        {% if tasks %}
                                        {% include "projects/tables/tasks_table.html" %}
                                        {% else %}
                                        <p class="no-projects text-primary">No tasks added yet.</p>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="knowledge-mgt" class="targetDiv" style="display: none;">
                        <h4 class="mb-3">Project content</h4>
                        {% if content_data %}
                        {% include "projects/tables/project_content_table.html" %}
                        {% else %}
                        <p class="no-projects text-primary">No content found for this project.</p>
                        {% endif %}
                    </div>
                    <div id="team-members" class="targetDiv" style="display: none;">
                        <div class="row mb-3 pl-3">
                            <h4 class="mb-3 my-auto">Project team</h4>
                            <button id="add-team-member" class="btn btn-secondary ml-3 " type="button"
                                    name="button">
                                <span class="fa fa-plus mr-2"></span>Add team member
                            </button>
                        </div>
                        <div id="team-members-table">
                            {% if team_members %}
                            {% include "projects/tables/team-members-table.html" %}
                            {% else %}
                            <p class="no-projects text-primary">No team members created for this project yet.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="project-timeline-utilization" class="targetDiv" style="display: none;">
                        <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                            <label class="btn btn-secondary active w-100 showSubDiv" target="timeline">
                                <input type="radio" autocomplete="off">
                                Timeline
                            </label>
                            <label class="btn btn-secondary w-100 showSubDiv" target="utilization">
                                <input type="radio" autocomplete="off">
                                Utilization
                            </label>
                        </div>
                        <div id="timeline" class="targetSubDiv firstSubDiv">

                            <div class="row mb-3 mt-3 pl-3">
                                <h4 id="timeline-header" class="my-auto">Project timeline</h4>
                                <button class="btn btn-secondary ml-3 " type="button"
                                        name="button">
                                    <span class="fa fa-calendar-check mr-2"></span>Apply resource constraints
                                </button>
                            </div>

                            <div class="gantt-target"></div>

                        </div>
                        <div id="utilization" class="targetSubDiv" style="display: none;" data-url="{% url 'projects:utilization_chart' %}">

                            <div class="row mb-3 mt-3 pl-3">
                                <h4 id="utilization-header" class="my-auto">Team utilization</h4>
                                <button class="btn btn-secondary ml-3 " type="button"
                                        name="button">
                                    <span class="fa fa-calendar-check mr-2"></span>Apply resource constraints
                                </button>
                            </div>

                            {% for tm in project.teammember_set.all%}
                            <div class="row mb-3">
                                <div class="col-md-2 pl-3 my-auto">
                                    {{tm}}
                                </div>
                                <div class="col-md-10">
                                    <div id="container" style="height:20vh; width:100%">
                                        <canvas id="utilization_chart_{{tm.id}}" class="team-member-chart"></canvas>
                                    </div>
                                </div>
                            </div>

                            {% endfor%}
                        </div>
                    </div>
                    <div id="RACI-tool" class="targetDiv" style="display:none;">
                        {% include "RACI/RACI.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>


{% endblock content %}


{% block extrascripts %}

<script type="text/javascript">

$(function() {
    var token = '{{csrf_token}}';
    var project_id = {{project.id}};

    $('body').on('click', '[add-new-below]', {token: token}, addNewTypeBelow);

    $('#output-sow').click(function() {
        console.log('am I here?');
        $('.fa-file-alt').removeClass('fa-file-alt').addClass('fa-spinner').addClass('fa-spin');

        $.ajax({
            type: "GET",
            url: '{% url "projects:ajax_test" %}',
            data: {project_id: project_id},
            success: function(data) {
                var a = document.createElement('a');
                var url = data;
                a.href = url;
                a.download = 'myfile.csv';
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
                $('.fa-spinner').removeClass('fa-spinner').removeClass('fa-spin').addClass('fa-file-alt')
            }
        })
    });

    $('.download-content').click(function() {

        var content_id = $(this).val();

        $.ajax({
            type: "GET",
            url: '{% url "organizations:content_download" %}',
            data: {
                content_id: content_id
            },
            success: function(data) {
                var a = document.createElement('a');
                var url = data;
                a.href = url;
                a.download = 'myfile';
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            }
        })
    });

<!--    $.ajax({-->
<!--        url: $('#utilization').data("url"),-->
<!--        data: {project_id: project_id},-->
<!--        success: function(data) {-->

<!--            var json = JSON.parse(data);-->

<!--            var gantt_data = json.gantt_data-->
<!--            var utilization_data = json.utilization_schedule-->

<!--            var gantt_chart = new Gantt(".gantt-target", gantt_data, {-->
<!--                on_click: function(task) {-->
<!--                    console.log(task);-->
<!--                },-->
<!--                on_date_change: function(task, start, end) {-->
<!--                    console.log(task, start, end);-->
<!--                },-->
<!--                on_progress_change: function(task, progress) {-->
<!--                    console.log(task, progress);-->
<!--                },-->
<!--                on_view_change: function(mode) {-->
<!--                    console.log(mode);-->
<!--                },-->
<!--                view_mode: 'Day',-->
<!--                language: 'en'-->
<!--            });-->


<!--            var ctx_array = []-->
<!--            $('.team-member-chart').each(function(i, item){-->

<!--                ctx_array[i] = $(this)[0].getContext("2d");-->

<!--                new Chart(ctx_array[i], {-->
<!--                    type: 'line',-->
<!--                    data: {-->
<!--                        labels: utilization_data[i].labels,-->
<!--                        datasets: [{-->
<!--                            steppedLine: true,-->
<!--                            label: 'Utilization',-->
<!--                            backgroundColor: '#c0d0dc',-->
<!--                            data: utilization_data[i].data,-->
<!--                        }]-->
<!--                    },-->
<!--                    options: {-->
<!--                        elements: {-->
<!--                            point:{-->
<!--                                radius: 0-->
<!--                            }-->
<!--                        },-->
<!--                        legend: {-->
<!--                            display: false-->
<!--                        },-->
<!--                        responsive: true,-->
<!--                        maintainAspectRatio: false,-->
<!--                        scales: {-->
<!--                            yAxes: [{-->
<!--                                ticks: {-->
<!--                                    beginAtZero: true,-->
<!--                                    max:3,-->
<!--                                    stepSize: 0.5-->
<!--                                }-->
<!--                            }],-->
<!--                            xAxes: [{-->
<!--                                type: 'time',-->
<!--                                time: {-->
<!--                                    unit: 'day'-->
<!--                                }-->

<!--                            }],-->

<!--                        }-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        }-->
<!--    });-->
});


</script>

{% endblock extrascripts %}
