{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}


<div class="container-fluid">
    <div class="row mt-4 mb-3">
        <div class="col-md-3 pl-5">
            <h4 class="mb-3">Project info</h4>
            <div>
                <h6><strong>Project name:</strong> {{project.name}}</h6>
            </div>
            <div>
                <h6><strong>Client name:</strong> {{project.client}}</h6>
            </div>
            <div>
                <h6><strong>Division:</strong> {{project.division}}</h6>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-md-12">
                    <button id="configure" class="btn btn-secondary text-left btn-block" type="button" name="button"
                            style="active">
                        <span class="fa fa-gear mr-2"></span>Configure project
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button id="sow" class="btn btn-secondary text-left btn-block dropdown-toggle" type="button"
                                name="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-file-text mr-2"></span>Export SOW
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Configure SOW</a>
                            <a id="output-sow" class="dropdown-item" href="#">Export SOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button id="slide-pack" class="btn btn-secondary text-left btn-block dropdown-toggle"
                                type="button" name="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-download mr-2"></span>Slide pack
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Configure slide pack</a>
                            <a id="output-slides" class="dropdown-item" href="#">Export slides</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <button id="setup-team" class="btn btn-secondary text-left btn-block" type="button" name="button">
                        <span class="fa fa-users mr-2"></span>Set up team
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <button id="view-timeline" class="btn btn-secondary text-left btn-block" type="button"
                            name="button">
                        <span class="fa fa-calendar mr-2"></span>View timeline
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="configure-project-selector">
                <div class="btn-group d-flex btn-group-toggle pl-5 pr-5 mx-auto" data-toggle="buttons">
                    <label class="btn btn-secondary active w-100">
                        <input type="radio" name="options" id="option1" autocomplete="off" value="workstreams">
                        Workstreams
                    </label>
                    <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="deliverables">
                        Deliverables
                    </label>
                    <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option3" autocomplete="off" value="tasks">
                        Tasks
                    </label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="configure-project-table">
                        <div id="workstreams-table" class="row">
                            <div class="column mx-auto">
                                <div class="row">
                                    <h4 class="my-auto">Default workstream configurations</h4>
                                    <button id="add-workstream" class="btn btn-secondary ml-3" type="button"
                                            name="button">
                                        <span class="fa fa-plus mr-2"></span>Add new workstream
                                    </button>
                                </div>
                                <div class="row mt-3">
                                    {% if workstreams %}
                                    {% include "workstreams/_workstreams_table.html" %}
                                    {% else %}
                                    <p class="no-projects text-primary">No workstreams added yet.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div id="deliverables-table" class="row" style="display: none;">
                            <div class="column mx-auto">
                                <div class="row">
                                    <h4 class="my-auto">Default deliverable configurations</h4>
                                    <button id="add-deliverable" class="btn btn-secondary ml-3" type="button"
                                            name="button">
                                        <span class="fa fa-plus mr-2"></span>Add new deliverables
                                    </button>
                                </div>
                                <div class="row mt-3">
                                    {% if deliverables %}
                                    {% include "deliverables/_deliverables_table.html" %}
                                    {% else %}
                                    <p class="no-projects text-primary">No deliverables added yet.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div id="tasks-table" class="row" style="display: none;">
                            <div class="column mx-auto">
                                <div class="row">
                                    <h4 class="my-auto">Default task configurations</h4>
                                    <button id="add-task" class="btn btn-secondary ml-3" type="button" name="button">
                                        <span class="fa fa-plus mr-2"></span>Add new tasks
                                    </button>
                                </div>
                                <div class="row mt-3">
                                    {% if tasks %}
                                    {% include "tasks/_tasks_table.html" %}
                                    {% else %}
                                    <p class="no-projects text-primary">No tasks added yet.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="project-timeline">
                        <div id="ganttChart"></div>
                        <br/><br/>
                        <div id="eventMessage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">

      $(function () {

var ganttData = {{ gantt_json|safe }};

            // Log in & Sign up buttons
          // The formURL is given explicitly
          $("#login-btn").modalForm({
            formURL: "{% url 'login_modal' %}"
          });

          $("#signup-btn").modalForm({
            formURL: "{% url 'signup_modal' %}"
          });

          // Create workstream button opens modal with id="create-modal"
          $("#add-workstream").modalForm({
            formURL: "{% url 'add_workstream' project_id=project_id %}",
            modalID: "#create-modal"
          });

          // Create deliverable button opens modal with id="create-modal"
          $("#add-deliverable").modalForm({
            formURL: "{% url 'add_deliverable' project_id=project_id %}",
            modalID: "#create-modal"
          });

          // Create task button opens modal with id="create-modal"
          $("#add-task").modalForm({
            formURL: "{% url 'add_task' project_id=project_id %}",
            modalID: "#create-modal"
          });


          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");


          // Read and Delete buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });

          $('input[type=radio][name="options"]').change(function() {

            if ($(this).val() == "workstreams") {
              $('#workstreams-table').show()
              $('#deliverables-table').hide()
              $('#tasks-table').hide()
            } else if ($(this).val() == "deliverables") {
              $('#workstreams-table').hide()
              $('#deliverables-table').show()
              $('#tasks-table').hide()
            } else if ($(this).val() == "tasks") {
              $('#workstreams-table').hide()
              $('#deliverables-table').hide()
              $('#tasks-table').show()
            }

          });

            $("#view-timeline").click(function(){
                $("#configure-project-table").hide();
                $("#configure-project-selector").hide();
                $("#project-timeline").show();
            });

            $("#view-timeline").one("click", function(){
$("#ganttChart").ganttView({
                    data: ganttData,
                    slideWidth: 700,
                    behavior: {
                        onClick: function (data) {
                            var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        },
                        onResize: function (data) {
                            var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        },
                        onDrag: function (data) {
                            var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                            $("#eventMessage").text(msg);
                        }
                    }
                });
                });


            $("#configure").click(function(){
              $("#project-timeline").hide();
              $("#configure-project-table").show();
              $("#configure-project-selector").show();
            });

            $('#output-sow').click(function(){

                $('.fa-file-text').removeClass('fa-file-text').addClass('fa-spinner').addClass('fa-spin');

                var project_id = {{ project_id }};
                $.ajax(
                    {
                        type:"GET",
                        url: '{% url "ajax_test" %}',
                        data:{project_id: project_id},
                        success: function( data )
                        {
                            var a = document.createElement('a');
                            var url = data;
                            a.href = url;
                            a.download = 'myfile.csv';
                            document.body.append(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                            $('.fa-spinner').removeClass('fa-spinner').removeClass('fa-spin').addClass('fa-file-text')
                        }
                     }
                 )
             });

      });









</script>
{% endblock extrascripts %}
