<table id="workstreams-table" class="table">
    <thead>
    <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Configure / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for ws in workstreams %}
    <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ ws.name }}</td>
        <td class="text-center">

            <!-- Edit button -->
            <button type="button" class="bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'configure_workstream' project_id ws.pk %}">
                <input type="hidden" value="{{ ws.pk }}" name="workstream_id">
                <span class="fa fa-gears"></span>
            </button>

            <!-- Delete button -->
            <button type="button" class="bs-modal delete-workstream btn btn-sm btn-secondary" data-form-url="{% url 'delete_workstream' project_id ws.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>