{% load static %}

<!-- Header -->
<header style="border-bottom: 1px solid #eee;">

    <!-- Messages -->
    <div>
        {% if messages %}
        {% for message in messages %}
        <div style="border-radius:0;"
             class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- End Messages -->

    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" style="font-family:Quicksand" href="/">Processy.io</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if not user.is_anonymous %}
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="/" id="projects-dropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="add-project" class="dropdown-item" href="#">Create new</a>
                        <div class="dropdown-divider"></div>
                        {% for project in non_ref_projects %}
                        <a class="dropdown-item" href="/project/{{ project.id }}">{{project.client}} -
                            {{project.name}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item active ml-3">
                    <a class="nav-link" id="upload-content" href="#">Contribute content</a>
                </li>
                <li class="nav-item active ml-3">
                    <a class="nav-link" id="organization" href="{% url 'organizations:organization' %}">Organization dashboard</a>
                </li>


            </ul>
            {% endif %}
            <ul class="navbar-nav">
                {% if not user.is_anonymous %}
                <li class="nav-item">
                    <span> Your are logged in as <strong>{{ user }}</strong>.</span>
                    <a href="{% url 'logout' %}" id="logout-btn" class="btn btn-secondary ml-3" role="button">Log
                        out</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <button id="login-btn" class="btn btn-primary mr-1" type="button" name="button">Log in</button>
                    <button id="signup-btn" class="btn btn-primary" type="button" name="button">Sign up</button>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>

</header>
<!-- End Header -->
